# -------------------------
# Environment variables
# -------------------------
.env

# -------------------------
# Python cache
# -------------------------
__pycache__/
*.pyc

# -------------------------
# Virtual environment
# -------------------------
venv/
env/

# -------------------------
# OS files
# -------------------------
.DS_Store

# -------------------------
# Generated data (optional)
# -------------------------
data/pages/
data/extracted_text/
data/vectors/

# -------------------------
# Logs
# -------------------------
*.log