# -------------------------
# Environment variables
# -------------------------
.env

# -------------------------
# Python cache
# -------------------------
__pycache__/
*.pyc

# -------------------------
# Virtual environment
# -------------------------
venv/
env/

# -------------------------
# OS files
# -------------------------
.DS_Store

# -------------------------
# Generated data (optional)
# -------------------------
data/pages/
data/crops/
data/extracted_text/
data/extracted/
data/vectors/
data/uploads/
data/outputs/

# -------------------------
# App cache and generated UI files
# -------------------------
app/__pycache__/
app/**/__pycache__/

# -------------------------
# Logs
# -------------------------
*.log